.show {
    display: block;
    &-pagin {
        display: block;
    }
}
.hide {
    display: none;
    &-pagin {
        display: none;
    }
}
.center{
    @include flex_align;
    justify-content: center;
}
.end{
    @include flex_align;
    justify-content: flex-end;
}
